{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load static %}


{% block title %}班級表格{% endblock %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}
{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/table.css' %}"/>
<div id="content-related">
    <div class="module" id="report-form-module">
        <h2>{% trans '表格' %}</h2>
        <h3>{% trans '班級表格' %}</h3>
        <a href="{% url 'form_student' %}">學員</a>
        <a href="{% url 'form_class' %}">班級</a>
    </div>
</div>

<h1>學生總攬表</h1>
    
    <form action="" method="get">
        {{ classes.form.as_p }}
        <input type="submit" />
    </form>
<!--
    <table class="table-style-three">
        <thead><tr>
          <th width="70%">名稱</th>
          <th width="70%">法名</th>
          <th>電話</th>
          <th>生日</th>
          <th>性別</th>
          <th>身分字號</th>
          <th>地址</th>
          <th>介紹人</th>
          <th>緊急連絡</th>
        </tr></thead>
        {% for class_i in classes.qs %}
        <tr align="left">
            <td>{{ class_i.name }}</td>
            <td>{{ class_i.clerical_name }}</td>
            <td>{{ class_i.phone_num }}</td>
            <td>{{ class_i.date_of_birth }}</td>
            <td>{{ class_i.gender }}</td>
            <td>{{ class_i.national_id_num }}</td>
            <td>{{ class_i.city }} - {{ student.address }}</td>
            <td>{{ class_i.invite_person }}</td>
            <td>{{ class_i.emergency_contact_person }} - {{ student.emergency_contact_phone }}</td>
          </tr>
        {% endfor %}
    </table>
-->
{% endblock %}


