main {
  background: #EEE;
  width: 600px;
  margin: 20px auto;
  padding: 10px 0;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
p {
  font-size: 13px;
}
input {
  display: none;
  visibility: hidden;
}
collapse_label {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #666;
}
collapse_label:hover {
  color: #000;
}
#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  color: #FFF;
}
section {
  padding: 0 20px;
}
#toggle:checked ~ #expand {
  height: 250px;
}
#toggle:checked ~ label::before {
  content: "-";
}