.tg {
    border-collapse:collapse;
    border-spacing:0;
    border-color:#aabcfe;
}
 .tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aabcfe;
    color:#669;
    background-color:#e8edff;
}
 .tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aabcfe;
    color:#039;
    background-color:#b9c9fe;
}
 .tg .tg-ptee{
    border-color:#003399;
    text-align:left;
    vertical-align:top
}
 .tg .tg-0pky{
    border-color:inherit;
    text-align:left;
    vertical-align:top
}
fieldset { 
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  background-color:#ffff66;
  border: solid 1px #080808;
  background-color:#82C5FF;
}