{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load static %}


{% block title %}班級表格{% endblock %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}
{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block menu_active_form_class %}class='active'{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/table.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/get_cookie.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;}
.tg  tbody{overflow:scroll;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
.tg .tg-hmp3{background-color:#D2E4FC;text-align:left;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-mb3i{background-color:#D2E4FC;text-align:right;vertical-align:top}
.tg .tg-lqy6{text-align:right;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<h1>班級總覽表</h1>
    <div style="padding: 20px 0;">
        <a class="btn btn-primary" id="addBtn">添加班級</a>
        <a class="btn btn-danger">删除班級</a>
    </div>
    <form action="" method="get" style="width:810px"><fieldset><legend><strong>篩選</strong></legend>
        {{ classes.form.as_table }}
        <input type="submit" />
    </fieldset></form>
    <br>
    <div id="div_tb">
    {% for class_i in classes.qs %}
        <br>
        <table class="tg" style="undefined;table-layout: fixed; width: 972px" nid="{{class_i.id}}" class_name="{{class_i.to_str}}">
            <colgroup>
                <col style="width: 81px">
                <col style="width: 81px">
                <col style="width: 81px">
                <col style="width: 81px">
                <col style="width: 81px">
                <col style="width: 81px">
                <col style="width: 81px">
                <col style="width: 81px">
                <col style="width: 81px">
                <col style="width: 81px">
                <col style="width: 81px">
                <col style="width: 81px">
            </colgroup>
            <tbody >
            <tr>
                <td colspan="6"><a class="edit-row"><strong>{{ class_i.to_str }} - {{ class_i.year|default_if_none:""}} - {{ class_i.semester|default_if_none:"" }}</strong></a>
                    <button type="button" class="del-row"> 刪除 </button>
                    <!--<button type="button" onclick="window.location.href ='{% url 'name_card_pdf' id=class_i.id%}'"> 名牌產生 </button>-->
                    <!--<button type="button" data-toggle="collapse" data-target="#student_table{{class_i.id}}" id={{class_i.class_id}}> 學員列表 </button>-->
                    <button type="button" onclick="window.location.href ='{% url 'form_class_detail' id=class_i.id%}'"> 詳情 </button>
                    <!--<button type="button" class="add-student-to-class"> 加入學員 </button>-->
                </td>
                <td colspan="6" name="status" data-value="{{ class_i.status|default_if_none:"" }}"><b>狀態:</b> {{ class_i.status|default_if_none:"" }}</td>
            </tr>
            <tr>
                <td colspan="6" name="teacher" data-value="{{ class_i.teacher|default_if_none:"" }}"><b>指導法師:</b> {{ class_i.teacher|default_if_none:"" }}</td>
                <td colspan="6" name="supervisor" data-value="{{ class_i.supervisor|default_if_none:"" }}"><b>監督:</b> {{ class_i.supervisor|default_if_none:"" }}</td>
            </tr>
            <tr>
                <td colspan="3" name="monitor" data-value="{{ class_i.monitor|default_if_none:"" }}"><b>總學院長:</b> {{ class_i.monitor|default_if_none:"" }}</td>
                <td colspan="3" name="assistant_monitor1" data-value="{{ class_i.assistant_monitor1|default_if_none:"" }}"><b>副總學員長1:</b> {{ class_i.assistant_monitor1|default_if_none:"" }}</td>
                <td colspan="3" name="assistant_monitor2" data-value="{{ class_i.assistant_monitor2|default_if_none:"" }}"><b>副總學員長2:</b> {{ class_i.assistant_monitor2|default_if_none:"" }}</td>
                <td colspan="3" name="assistant_monitor3" data-value="{{ class_i.assistant_monitor3|default_if_none:"" }}"><b>副總學員長3:</b> {{ class_i.assistant_monitor3|default_if_none:"" }}</td>
            </tr>
            <tr>
                <td colspan="1" name="number_of_classes" data-value="{{ class_i.number_of_classes|default_if_none:"" }}"><b>總堂數:</b> {{ class_i.number_of_classes|default_if_none:"" }}</td>
                <td colspan="1" name="number_of_classes_to_graduate" data-value="{{ class_i.number_of_classes_to_graduate|default_if_none:"" }}"><b>可結業總堂數:</b> {{ class_i.number_of_classes_to_graduate|default_if_none:"" }}</td>
                <td colspan="1" name="number_of_classes_to_makeup" data-value="{{ class_i.number_of_classes_to_makeup|default_if_none:"" }}"><b>補課最多:</b> {{ class_i.number_of_classes_to_makeup|default_if_none:"" }}</td>
                <td colspan="1" name="year" data-value="{{ class_i.year|default_if_none:"" }}"><b>年期:</b> {{ class_i.year|default_if_none:"" }}</td>
                <td colspan="1" name="semester" data-value="{{ class_i.semester|default_if_none:"" }}"><b>學期:</b> {{ class_i.semester|default_if_none:"" }}</td>
                <td colspan="1" name="study_time" data-value="{{ class_i.study_time|default_if_none:"" }}"><b>上課時間:</b> {{ class_i.study_time|default_if_none:"" }}</td>
                <td colspan="2" name="start_date" data-value="{{ class_i.get_start_date|default_if_none:"" }}"><b>開始日期:</b> {{ class_i.get_start_date|default_if_none:"" }}</td>
                <td colspan="2" name="graduation_date" data-value="{{ class_i.get_graduation_date|default_if_none:"" }}"><b>領證日期:</b> {{ class_i.get_graduation_date|default_if_none:"" }}</td>
                <td colspan="2" name="" data-value=""><b>學員總數:</b> </td>
            </tr>
            <tr>
                <td colspan="12" name="content"><b>內容簡介:</b> {{ class_i.introduction|default_if_none:"" }}</td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addClassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class_id="" row_to_edit="">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addClassModalTitle">創建班級</h4>
                </div>
                <div class="modal-body">
                    <form id="fm" class="form-horizontal">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">班級名稱</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="name" placeholder="班級名稱">
                            </div>
                        
                            <label for="status" class="col-sm-2 control-label">班級狀態</label>
                            <div class="col-sm-4">
                                <input id="status_input" name="status_input" class="form-control" list="status_datalist">
                                <datalist  name="status" id="status_datalist">
                                    {% for status_i in class_status %}
                                        <option value="{{status_i}}">{{ status_i }}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            
                            <label for="teacher" class="col-sm-2 control-label">指導師父</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="teacher" placeholder="指導師父">
                            </div>
                        
                            <label for="supervisor" class="col-sm-2 control-label">監督</label>
                            <div class="col-sm-4">
                                <form>
                                    <input id="supervisor_input" name="supervisor_input" class="form-control" list="supervisor_datalist">
                                    <datalist  name="supervisor" id="supervisor_datalist">
                                        <option value="----" data-value="0"></option>
                                        {% for student_i in student_all %}
                                            <option value="{{ student_i.name }}" id="{{ student_i.id }}"></option>
                                        {% endfor %}
                                    </datalist>
                                </form>
                            </div>
                        
                            <label for="monitor" class="col-sm-2 control-label">總學員長</label>
                            <div class="col-sm-4">
                                <form>
                                    <input id="monitor_input" name="monitor_input" class="form-control" list="monitor_datalist">
                                    <datalist  name="monitor" id="monitor_datalist">
                                        <option value="----" data-value="0"></option>
                                        {% for student_i in student_all %}
                                            <option value="{{ student_i.name }}" id="{{ student_i.id }}"></option>
                                        {% endfor %}
                                    </datalist>
                                </form>
                            </div>
                            
                            <label for="assistant_monitor1" class="col-sm-2 control-label">副總 1</label>
                            <div class="col-sm-4">
                                <form>
                                    <input id="assistant_monitor1_input" name="assistant_monitor1_input" class="form-control" list="assistant_monitor1_datalist">
                                    <datalist  name="assistant_monitor1" id="assistant_monitor1_datalist">
                                        <option value="----" data-value="0"></option>
                                        {% for student_i in student_all %}
                                            <option value="{{ student_i.name }}" id="{{ student_i.id }}"></option>
                                        {% endfor %}
                                    </datalist>
                                </form>
                            </div>
                        
                            <label for="assistant_monitor2" class="col-sm-2 control-label">副總 2</label>
                            <div class="col-sm-4">
                                <form>
                                    <input id="assistant_monitor2_input" name="assistant_monitor2_input" class="form-control" list="assistant_monitor2_datalist">
                                    <datalist  name="assistant_monitor2" id="assistant_monitor2_datalist">
                                        <option value="----" data-value="0"></option>
                                        {% for student_i in student_all %}
                                            <option value="{{ student_i.name }}" id="{{ student_i.id }}"></option>
                                        {% endfor %}
                                    </datalist>
                                </form>
                            </div>
                            
                            <label for="assistant_monitor3" class="col-sm-2 control-label">副總 3</label>
                            <div class="col-sm-4">
                                <form>
                                    <input id="assistant_monitor3_input" name="assistant_monitor3_input" class="form-control" list="assistant_monitor3_datalist">
                                    <datalist  name="assistant_monitor3" id="assistant_monitor3_datalist">
                                        <option value="----" data-value="0"></option>
                                        {% for student_i in student_all %}
                                            <option value="{{ student_i.name }}" id="{{ student_i.id }}"></option>
                                        {% endfor %}
                                    </datalist>
                                </form>
                            </div>
                            
                            <label for="number_of_classes" class="col-sm-2 control-label">總堂數</label>
                            <div class="col-sm-2">
                                <input type="number" value="0" class="form-control" name="number_of_classes" placeholder="總堂數">
                            </div>
                            
                            <label for="number_of_classes_to_graduate" class="col-sm-2 control-label">結業堂數</label>
                            <div class="col-sm-2">
                                <input type="number" value="0" class="form-control" name="number_of_classes_to_graduate" placeholder="結業堂數">
                            </div>
                            
                            <label for="number_of_classes_to_makeup" class="col-sm-2 control-label">補課最多</label>
                            <div class="col-sm-2">
                                <input type="number" value="0" class="form-control" name="number_of_classes_to_makeup" placeholder="補課最多">
                            </div>
                            
                            <label for="year" class="col-sm-2 control-label">年期</label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" name="year" placeholder="年期" value="{{year}}">
                            </div>
                            
                            <label for="semester" class="col-sm-2 control-label">學期</label>
                            <div class="col-sm-2">
                                <select class="form-control" name="semester" placeholder="學期">
                                    {% for semester_i in semester %}
                                        <option value="{{semester_i}}">{{ semester_i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <label for="study_time" class="col-sm-2 control-label">上課時間</label>
                            <div class="col-sm-2">
                                <select class="form-control" name="study_time" placeholder="上課時間">
                                    {% for study_time_i in study_time %}
                                        <option value="{{study_time_i}}">{{ study_time_i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <label for="start_date" class="col-sm-2 control-label">開始日期</label>
                            <div class="col-sm-4">
                                <input type="date" value="None" class="form-control" name="start_date" placeholder="開始日期">
                            </div>
                            <!--
                            <label for="end_date" class="col-sm-2 control-label">結束日期</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="end_date" placeholder="結束日期">
                            </div>
                            -->
                            <label for="graduation_date" class="col-sm-2 control-label">領證日期</label>
                            <div class="col-sm-4">
                                <input type="date" value="None" class="form-control" name="graduation_date" placeholder="領證日期">
                            </div>
                        
                            <label for="introduction" class="col-sm-2 control-label">簡介</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="introduction" placeholder="簡介">
                            </div>
                            <label for="auto_create_group" class="col-sm-2 control-label">自動產生堂</label>
                            <div class="col-sm-1">
                                <input type="checkbox" class="form-control" name="auto_create_group" checked>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span id="errorMsg" style="color: red;"></span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="btnSave">儲存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class_id="" student_class_id="">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addStudentModalTitle">加入學員至班級</h4>
                </div>
                <div class="modal-body">
                    <form id="fm" class="form-horizontal">
                        <div class="form-group">
                            <label for="student" class="col-sm-2 control-label">學員</label>
                            <div class="col-sm-4">
                                <form>
                                    <input id="student_input" name="student_input" class="form-control" list="student_datalist">
                                    <datalist  name="student" id="student_datalist">
                                        {% for student_i in student_all %}
                                            <option value="{{ student_i.name }}" id="{{ student_i.id }}"></option>
                                        {% endfor %}
                                    </datalist>
                                </form>
                            </div>
                            
                            <label for="study_status" class="col-sm-2 control-label">學習狀態</label>
                            <div class="col-sm-4">
                                <input id="study_status_input" name="study_status_input" class="form-control" list="study_status_datalist">
                                <datalist  name="study_status" id="study_status_datalist">
                                    {% for study_status_i in study_status %}
                                        <option value="{{study_status_i}}">{{ study_status_i }}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <label for="date_joined" class="col-sm-2 control-label">參加日期</label>
                            <div class="col-sm-4">
                                <input type="date" value="None" class="form-control" name="date_joined" placeholder="開始日期">
                            </div>
                            <label for="group_of_student" class="col-sm-2 control-label">組別</label>
                            <div class="col-sm-4">
                                <form>
                                    <input id="group_of_student_input" name="group_of_student_input" class="form-control" list="group_of_student_datalist">
                                    <datalist  name="group_of_student" id="group_of_student_datalist">
                                        {% for group_i in group_of_student %}
                                            <option value="{{ group_i }}" id="{{ group_i }}"></option>
                                        {% endfor %}
                                    </datalist>
                                </form>
                            </div>
                            <label for="invite_person" class="col-sm-2 control-label">介紹人</label>
                            <div class="col-sm-4">
                                <form>
                                    <input id="invite_person_input" name="invite_person_input" class="form-control" list="invite_person_datalist">
                                    <datalist  name="invite_person" id="invite_person_datalist">
                                        <option value="----" data-value="0"></option>
                                        {% for student_i in student_all %}
                                            <option value="{{ student_i.name }}" id="{{ student_i.id }}"></option>
                                        {% endfor %}
                                    </datalist>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span id="addStudentErrorMsg" style="color: red;"></span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="btnAddStudentSaveAndContinue">儲存再繼續</button>
                    <button type="button" class="btn btn-primary" id="btnAddStudentSave">儲存</button>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger" role="alert">
                <h3 id="delModalWarning">刪除此班級</h3>
                <div>...<input style="display: none;" type="text" id="delNid" /></div>
                <div>
                    <button id="calConfirm" type="button" class="btn btn-default">取消</button>
                    <button id="delConfirm" type="button" class="btn btn-danger">確定</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            bindEvent();

            bindClassSave();
            bindDel();
            bindDelConfirm();
            bindClassEdit();
            //bindClassEditConfirm();
        });
        function bindEvent() {
            $('#addBtn').click(function () {
                $('#addClassModalTitle').text('創建班級')
                $('#addClassModal').attr('row_to_edit', "")
                $('#addClassModal').modal('show');
            })
            
            $('#div_tb').on('click','.add-student-to-class',function () {
                //$('#addClassModalTitle').text('創建班級')
                $('#addStudentModal').attr('class_id', "")
                $('#addStudentModal').attr('class_id', $(this).parent().parent().parent().parent().attr('nid'))
                $('#addStudentModalTitle').text('加入學員至班級 - ' + $(this).parent().parent().parent().parent().attr('class_name'));
                $('#addStudentErrorMsg').text("");
                $('#addStudentModal').modal('show');
            })
        }
        function bindClassSave() {
            $('#btnSave').click(function () {
                var postData = {};
                var token = getCookie('csrftoken');
                
                onDlistInput($('#addClassModal input[name="status_input"]')[0]);
                onDlistInput($('#addClassModal input[name="supervisor_input"]')[0]);
                onDlistInput($('#addClassModal input[name="monitor_input"]')[0]);
                onDlistInput($('#addClassModal input[name="assistant_monitor1_input"]')[0]);
                onDlistInput($('#addClassModal input[name="assistant_monitor2_input"]')[0]);
                onDlistInput($('#addClassModal input[name="assistant_monitor3_input"]')[0]);
                
                $('#addClassModal').find('input,select,datalist, checkbox').each(function () {
                    var v = $(this).val();
                    var n = $(this).attr('name');
                    if(v != '')postData[n] = v;
                    
                    //checked
                    if($(this)[0].type == 'checkbox'){
                        postData[n] = $(this)[0].checked;
                    }
                    console.log(n)
                    console.log(v)
                    console.log('----')
                });
                
                if(postData.name==''){
                    $('#errorMsg').text('請填寫班級名稱');
                    return
                }
                if(postData.year==''){
                    $('#errorMsg').text('請填寫班的年期');
                    return
                }
                if(postData.semester==''){
                    $('#errorMsg').text('請填寫班的學期');
                    return
                }
                if(postData.status=='-1'){
                    $('#errorMsg').text('請填寫有效介班級狀態');
                    return
                }
                if(postData.supervisor=='-1'){
                    $('#errorMsg').text('請填寫有效介監督');
                    return
                }
                console.log(postData.auto_create_group)
                if(postData.auto_create_group == true){
                    if(postData.start_date == '' || !postData.start_date){
                        $('#errorMsg').text('選擇自動產生堂，必須填寫開始日期');
                        return
                    }
                    if(postData.graduation_date == '' || !postData.graduation_date){
                        $('#errorMsg').text('選擇自動產生堂，必須填寫領證日期');
                        return
                    }
                    var x = new Date(postData.start_date);
                    var y = new Date(postData.graduation_date);
                    if(y < x){
                        $('#errorMsg').text('開始日期或是領證日期選擇錯誤');
                        return
                    }

                }
                postData['nid'] = $('#addClassModal').attr('class_id')
                var row_to_edit = $('#addClassModal').attr('row_to_edit')
                $.ajax({
                    url: '/student/add_class',
                    type: 'POST',
                    headers:{'X-CSRFToken': token},
                    data: postData,
                    success:function (arg) {
                        // arg是字符串
                        // JSON.parse将字符串转换成字典， json.loads
                        var dict = JSON.parse(arg);
                        if(dict.status){
                            //location.reload();
                            //createRow(row_to_edit, postData, dict.nid, dict.status, dict.supervisor, dict.monitor, dict.assistant_monitor1, dict.assistant_monitor3, dict.study_time);
                            var startDate = new Date(dict.start_date);
                            var graduationDate = new Date(dict.graduation_date);
                            var start_date_str = startDate.getFullYear() + "-" + (startDate.getMonth() + 1) + "-" + startDate.getDate()
                            var graduation_date_str = graduationDate.getFullYear() + "-" + (graduationDate.getMonth() + 1) + "-" + graduationDate.getDate()
                            classScheduleCreate("", dict.nid, start_date_str, graduation_date_str, token)
                            /*
                            while(startDate <= graduationDate){
                                classScheduleCreate("", dict.nid, startDate.getFullYear() + "-" + (startDate.getMonth() + 1) + "-" + startDate.getDate(), token)
                                console.log(startDate.getFullYear() + "-" + (startDate.getMonth() + 1) + "-" + startDate.getDate())
                                startDate = new Date(startDate.getTime() + 7 * 24 * 60 * 60 * 1000);
                            }
                            */
                            $('#addClassModal').modal('hide');
                            window.location.reload();
                        }else {
                            $('#errorMsg').text(dict.message);
                        }
                    }
                })

            });
    }
    function bindClassEdit() {
        $('#div_tb').on('click','.edit-row',function () {
            class_table = $(this).parent().parent().parent().parent()
            class_info = $(this).parent().parent().parent()
            $('#addClassModalTitle').text('修正班級資料 - 編號: ' + class_table.attr('class_name'))
            $('#addClassModal').attr('class_id', class_table.attr('nid'))
            $("#addClassModal input[name='name']").val(class_table.attr('class_name'))
            class_info.find('td').each(function () {
                 // cls_id
                var v = $(this).attr('data-value');
                var n = $(this).attr('name');
                console.log(n + '-' + v)
                console.log('----')
                $("#addClassModal input[name='"+ n +"']").val(v)
                n = n + "_input"
                console.log(n + '-' + v)
                $("#addClassModal input[name='"+ n +"']").val(v)
                console.log()
             });
            //$("#addClassModal input[name=start_date").val("1990-02-02")
            $('#addClassModal').modal('show');
        })
    }
    function bindDel() {
        $('#div_tb').on('click','.del-row',function () {
            console.log('show')
            $('#delModal').modal('show');
            $('#delModalWarning').text('刪除此班級 - ' + $(this).parent().parent().parent().parent().attr('class_name'));
            // 回去当前行的ID
            var rowId = $(this).parent().parent().parent().parent().attr('nid');
            $('#delNid').val(rowId);
        })
    };
    function bindDelConfirm() {
        $('#delConfirm').click(function () {
            var rowId = $('#delNid').val();
            
            $.ajax({
                url: '/student/del_class',
                type: 'GET',
                data: {'nid': rowId},
                success:function (arg) {
                    var dict = JSON.parse(arg);
                    if(dict.status){
                        $('tr[nid="'+ rowId+'"]').remove();
                    }
                    $('#delModal').modal('hide');
                    window.location.reload();
                }
            })
            
        });
        $('#calConfirm').click(function() {
            $('#delModal').modal('hide');
        });
    }
    
    function bindAddStudentSave() {
            $('#btnAddStudentSave').click(function () {
                var postData = {};
                var token = getCookie('csrftoken');
                
                onDlistInput($('#addStudentModal input[name="student_input"]')[0]);
                onDlistInput($('#addStudentModal input[name="invite_person_input"]')[0]);
                
                $('#addStudentModal').find('input,select,datalist').each(function () {
                    var v = $(this).val();
                    var n = $(this).attr('name');
                    if(v != '')postData[n] = v;
                    console.log(n)
                    console.log(v)
                    console.log('----')
                });
                if(!postData.student || postData.student=='0' || postData.student=='-1'){
                    $('#addStudentErrorMsg').text('請填寫有效學員');
                    return
                }
                if(postData.invite_person=='-1'){
                    $('#errorMsg').text('請填寫有效介紹學院');
                    return
                }
                postData['class_of_student'] = $('#addStudentModal').attr('class_id');
                postData['nid'] = $('#addStudentModal').attr('student_class_id')
                $.ajax({
                    url: '/student/add_student_to_class',
                    type: 'POST',
                    headers:{'X-CSRFToken': token},
                    data: postData,
                    success:function (arg) {
                        // arg是字符串
                        // JSON.parse将字符串转换成字典， json.loads
                        var dict = JSON.parse(arg);
                        if(dict.status){
                            //location.reload();
                            //createRow(row_to_edit, postData, dict.nid, dict.status, dict.supervisor, dict.monitor, dict.assistant_monitor1, dict.assistant_monitor3, dict.study_time);
                            $('#addStudentModal').modal('hide');
                            window.location.reload();
                        }else {
                            $('#addStudentErrorMsg').text(dict.message);
                        }
                    }
                })

            });
    }

    function classScheduleCreate(nid, class_to_schedule, study_time, token) {
        var postData = {}
        postData['nid'] = nid
        postData['class_to_schedule'] = class_to_schedule
        postData['study_time'] = study_time
        $.ajax({
            url: '/student/add_class_schedule',
            type: 'POST',
            headers:{'X-CSRFToken': token},
            data: postData,
            success:function (arg) {
                var dict = JSON.parse(arg);
                if(dict.status){
                
                }
            }
        })
    }
    function classScheduleCreate(nid, class_to_schedule, start_date, graduation_date, token) {
        var postData = {}
        postData['nid'] = nid
        postData['class_to_schedule'] = class_to_schedule
        postData['start_date'] = start_date
        postData['graduation_date'] = graduation_date
        $.ajax({
            url: '/student/add_class_schedule',
            type: 'POST',
            headers:{'X-CSRFToken': token},
            data: postData,
            success:function (arg) {
                var dict = JSON.parse(arg);
                if(dict.status){
                
                }
            }
        })
    }
    </script>
{% endblock %}


