{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load static %}


{% block title %}點名表{% endblock %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}
{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/table.css' %}"/>
<script src="{% static 'js/restful.js' %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<h1>各班點名表</h1>
    <div>
       <button onclick="send()">click me </button> 
    </div>
    <form action="" method="get">
        {{ classes.form.as_p }}
        <input type="submit" />
    </form>
    {% for class_i in classes.qs %}
        <h3>{{ class_i.to_str }}</h3>
        <h4>狀態: {{ class_i.status }}</h4>
        <h4>總學員長: {{ class_i.monitor }}</h4>
        <h4>上課時段: {{ class_i.study_time }}</h4>
        <h4>學員總數: {{ class_i.students.all.count }}</h4>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#studentpresent_table{{class_i.class_id}}" id={{class_i.class_id}}>點名列表</button>
          <div id="studentpresent_table{{class_i.class_id}}" class="collapse">
                <table class="table-style-three">
                    <thead align="center"><tr>
                        <th>姓名</th>
                        <th>法名</th>
                        {% for scheduled_class_i in class_i.scheduled_class_set.all %}
                            <th>{{ scheduled_class_i.get_date }}</th>
                        {% endfor %}
                    </tr></thead>
                    {% for student in class_i.students.all %}
                        {% for class_for_student_i in student.in_class_student_set.all%}
                            {% if "學習中" == class_for_student_i.status.status and class_for_student_i.class_of_student.class_id == class_i.class_id%}
                                <tr align="center">
                                    <td>{{ student.name }}</td>
                                    <td>{{ student.clerical_name }}</td>
                                    {% for scheduled_class_i in class_i.scheduled_class_set.all %}
                                        {% for student_class_schedule_i in scheduled_class_i.scheduled_class.all %}
                                            {% if student_class_schedule_i.student.student_id == student.student_id and student_class_schedule_i.class_of_student.class_id == class_i.class_id%}
                                                    <td><form action="" method="POST">{% csrf_token %}<input type="checkbox" {% if student_class_schedule_i.present_check%}checked{% endif %} value={{student_class_schedule_i.id}} onChange="send(this)"></form></td>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
          </div>
    {% endfor %}
    
{% endblock %}


